/* Primary colors */
/* Neutral colors */
/*************************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 18px;
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: 'Outfit', sans-serif;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0d192b;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nft-card {
  max-width: 325px;
  background-color: #14253d;
  border-radius: 15px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  gap: 24px;
}

.nft-card__image-container {
  position: relative;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.nft-card__image-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00fff7;
  opacity: 0;
  z-index: 5;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.nft-card__image-container:hover::before {
  opacity: 0.5;
}

.nft-card__eye-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 10;
}

.nft-card__image-container:hover .nft-card__eye-image {
  opacity: 1;
}

.nft-card__hero-image {
  display: block;
  width: 100%;
}

.nft-card__main {
  margin: 0 auto;
  border-bottom: 1px solid #2f415b;
  padding-bottom: 15px;
}

.nft-card__title {
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
}

.nft-card__title:hover {
  color: #00fff7;
}

.nft-card__description {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #8bacda;
  margin: 10px 0;
}

.nft-card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.nft-card__tracking {
  color: #00fff7;
  font-size: 15px;
}

.nft-card__tracking::before {
  content: url(../images/icon-ethereum.svg);
  position: relative;
  top: 3px;
  padding-right: 5px;
}

.nft-card__end-time {
  color: #8bacda;
  font-size: 15px;
}

.nft-card__end-time::before {
  content: url(../images/icon-clock.svg);
  position: relative;
  top: 3px;
  padding-right: 5px;
}

.nft-card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nft-card__author-image {
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
}

.nft-card__author-info {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #8bacda;
}

.nft-card__author-name {
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.nft-card__author-name:hover {
  color: #00fff7;
}

.attribution {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */