/* Primary colors */
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

/* Neutral colors */
$very-dark-blue-main: hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
/*************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  min-height: 100vh;
  width: 100%;
  color: $white;
  font-family: 'Outfit', sans-serif;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: $very-dark-blue-card;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nft-card {
  width: 325px;
  background-color: $very-dark-blue-main;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  &__image-container {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  &__image-container::before {
    content: '';
    //position absolute, żeby zajął cały kontener
    position: absolute;
    width: 100%;
    height: 100%;
    background: $cyan;
    opacity: 0;
    z-index: 5;
    transition: opacity 1s;
  }

  &__image-container:hover::before {
    opacity: 0.5;
  }

  &__eye-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
  }

  &__image-container:hover &__eye-image {
    opacity: 1;
  }

  &__hero-image {
    display: block;
    width: 100%;
    // margin: 22.5px auto;
    // border-radius: 5px;
  }

  &__main {
    margin: 0 auto;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 15px;
  }

  &__title {
    display: inline-block;
    font-size: 21px;
  }

  &__title:hover {
    color: $cyan;
    cursor: pointer;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: hsl(215, 51%, 70%);
    margin: 10px 0;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__tracking {
    color: hsl(178, 100%, 50%);
    font-size: 15px;
  }

  &__tracking::before {
    content: url(../images/icon-ethereum.svg);
    position: relative;
    top: 3px;
    padding-right: 5px;
  }

  &__end-time {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
  }

  &__end-time::before {
    content: url(../images/icon-clock.svg);
    position: relative;
    top: 3px;
    padding-right: 5px;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-image {
    height: 33px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
  }

  &__author-info {
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
  }

  &__author-name {
    font-weight: 300;
    color: hsl(0, 0%, 100%);
  }

  &__author-name:hover {
    color: $cyan;
    cursor: pointer;
  }
}

.attribution {
  margin-top: 15px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
