/* Primary colors */
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

/* Neutral colors */
$very-dark-blue-main: hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
/*************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  color: $white;
  font-family: 'Outfit', sans-serif;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: $very-dark-blue-main;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nft-card {
  margin: 0 5%;
  transition: margin 1s;
  max-width: 35rem;
  background-color: $very-dark-blue-card;
  border-radius: 1.5rem;
  padding: 2.4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2.4rem;
  min-height: 300px;

  &__image-container {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__image-container::before {
    content: '';
    //position absolute, żeby zajął cały kontener
    position: absolute;
    width: 100%;
    height: 100%;
    background: $cyan;
    opacity: 0;
    z-index: 5;
    transition: opacity 0.5s;
  }

  &__image-container:hover::before {
    opacity: 0.5;
  }

  &__eye-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 10;
    width: 4.8rem;
  }

  &__image-container:hover &__eye-image {
    opacity: 1;
  }

  &__hero-image {
    display: block;
    width: 100%;
  }

  &__main {
    border-bottom: 0.1rem solid hsl(215, 32%, 27%);
    padding-bottom: 1.5rem;
  }

  &__title {
    display: inline-block;
    font-size: 2.2rem;
    cursor: pointer;
    transition: color 0.5s;
  }

  &__title:hover {
    color: $cyan;
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: hsl(215, 51%, 70%);
    margin: 1.8rem 0;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__tracking {
    color: hsl(178, 100%, 50%);
    font-size: 1.5rem;
  }

  &__tracking::before {
    content: '';
    background-image: url(../images/icon-ethereum.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding-right: 1.8rem;
  }

  &__end-time {
    color: hsl(215, 51%, 70%);
    font-size: 1.5rem;
  }

  &__end-time::before {
    content: '';
    background-image: url(../images/icon-clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    padding-right: 2.3rem;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__author-image {
    height: 3.3rem;
    border: 0.1rem solid hsl(0, 0%, 100%);
    border-radius: 50%;
  }

  &__author-info {
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
  }

  &__author-name {
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: color 0.5s;
  }

  &__author-name:hover {
    color: $cyan;
  }
}

.attribution {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
  .nft-card {
    margin: 0;
    max-width: 35rem;
  }
}

/******************************************/
/*           IE Hacks   no-RWD            */
/******************************************/

_:-ms-lang(x),
.ie10up,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

_:-ms-lang(x),
.ie10up,
.nft-card__main {
  padding: 1.5rem 0;
  margin-bottom: 2.4rem;
}

_:-ms-lang(x),
.ie10up,
.nft-card {
  min-height: 580px;
}

_:-ms-lang(x),
.ie10up,
.nft-card__image-container {
  min-height: 267px;
}
